[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ZeroSeg = {editable = true, git = "https://github.com/aklimko/ZeroSeg.git", ref = "master"}
requests = "*"
vyper-config = "*"
spidev = "*"
schedule = "*"
"rpi.gpio" = "*"
jsonschema = "==v3.0.0a3"

[requires]
python_version = "3.5"

[dev-packages]
