[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[packages]
ZeroSeg = {git = "https://github.com/aklimko/ZeroSeg.git", ref = "master", editable = true}
requests = "*"
vyper-config = "*"
spidev = "*"
schedule = "*"
"rpi.gpio" = "*"
jsonschema = "==v3.0.0a3"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.5"
