[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ZeroSeg = {git = "https://github.com/aklimko/ZeroSeg.git", ref = "master", editable = true}
"rpi.gpio" = "*"
spidev = "*"
requests = "*"
vyper-config = "*"

[dev-packages]

[requires]
python_version = "3.5"
